body {
  margin: 0;
  background-color: #1a1a1a;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #222;
}

.container {
  background-color: #fff;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
}

h3 {
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

p {
  line-height: 1.6;
  text-align: justify;
}

img {
  width: 100%;
  border-radius: 10px;
  margin-top: 1rem;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 0.9rem;
  color: #666;
  margin-top: 0.5rem;
}

.etiqueta {
  text-transform: uppercase;
  font-size: 0.85rem;
  color: #c0392b;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

footer {
  margin-top: 3rem;
  font-size: 0.9rem;
  color: #555;
  vertical-align: middle;
}

.lista-categorias {
  padding-left: 1rem; /* Reduz o recuo padrão (pode até usar 0) */
  margin: 0;
  list-style-position: outside; /* (opcional) traz a bolinha pra dentro do bloco */
}


.bom.casais {
  color: #e74c3c; /* vermelho */
}

.bom.familias {
  color: #27ae60; /* verde */
}

.bom.orcamento {
  color: #2980b9; /* azul */
}

.creditos {
  margin-top: 1.5rem;
  color: #888;
  text-align: center;
}
.creditos img {
  width: 16px;           /* Tamanho proporcional */
  height: 16px;
  vertical-align: middle; /* Alinha com o texto */
  margin: 0 4px;          /* Espaço ao redor do ícone */
}

